[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
nba-api = "*"
numpy = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.7"
