[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mistune = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.7"
